:root{
    font-family: arial, sans-serif;
}

.sub{
    font-family: arial, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
    border: 1px solid rgb(228, 228, 228); 
    padding: 7px 16px;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 2px;
}

.sub:hover{
    opacity: 1;
    border-color: black;
}

#app{  
    opacity: 0.7;
    height: 1.5em;
    padding: 0px 10px;
    margin-top: 10px;
}

#sbox{
    border-radius: 14px;
    font-size: 16px;
    height:34px;
    padding: 5px;
    border: 1px solid rgb(228, 228, 228);
    width: 524px;
    line-height: 34px;
    box-sizing: content-box;
}

#app:hover{
    opacity: 1;
}

.button{
    background-color: #4285f4;
    color: white;
    font-size: 13px;
    padding: 8px 15px;
    height: 30px;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 3px;
}

.button:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

a:hover{
    text-decoration: underline;
    opacity: 0.7;
}

#header{
    color: black;
    font-size: 13px;
    padding-top: 9px;
    float: right;
}

#logo{
    width:272px;
    height:92px;
}

#centre{
    text-align: center;
    padding: 190px 0 0 0;
}

#footer{
    float: left;
    color: black;
    font-size: 14px;
    padding-top: 9px;
    background: #f2f2f2;
    border: 1px solid rgb(228, 228, 228); 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    padding: 10px;
}

#right{
    float: right;
}